header {
    background-color:red;
    max-height: max-content;

}

html, body{
    margin: 0;
}

.logo {
    text-align: center;
}

.links {
    display: flex;
}

.linkTitle {
    color: white;
    text-decoration: none;
    font-size: 115%;
}

.News {
    background-color: rgb(206, 9, 9);
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    width: 100%;
}

.Politics {
    background-color: rgb(206, 9, 9);;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    width: 100%;
}

.Economy {
    border: none;
    background-color: rgb(206, 9, 9);;
    padding-top: 0;
    padding-bottom: 0;
    width:100%;
}

.News:hover, .Politics:hover, .Economy:hover {
    background-color: red;
}

.News-text {
    display:none;
}

.Politics-text {
    display: none;
}

.Economy-text {
    display: none;
}